 /* Общий контейнер */
 .login-container {
  background-color: #181818;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
 }
 
 /* Область формы */
 .login-form-area {
  background-color: #212121;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
 }
 
.login-logo {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}
 
 /* Стили для групп полей (Телефон, Пароль) */
 .form-group {
  margin-bottom: 15px;
  text-align: left;
 }
 
 /* Стили для меток */
 .form-group label {
  display: block;
  margin-bottom: 5px;
 }
 
 /* Стили для полей ввода */
 .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
 }
 
 /* Стили для контейнера пароля (поле ввода + кнопка) */
 .password-group .password-input-group {
  display: flex;
  align-items: center;
 }
 
 /* Стили для поля ввода пароля */
 .password-group .password-input-group input {
  flex-grow: 1;
  margin-right: 5px;
 }
 
 /* Стили для кнопки "Показать пароль" */
 .toggle-password {
  background-color: #444;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  white-space: nowrap;
 }
 
 .toggle-password:hover {
  background-color: #666;
 }
 
 /* Стили для кнопки "Войти" */
 .login-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: auto; /* Изменяем ширину на auto */
 }
 
 .login-button:hover {
  background-color: #0056b3;
 }
 
.register-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.register-link:hover {
  text-decoration: underline;
}